<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Add new student</h1>
    <form action="/add-student" method="POST">
        <input type="text" name="fullName" placeholder="Full Name">
        <input type="text" name="code" placeholder="Code">
        <input type="text" name="fieldOfStudies" placeholder="Field of Studies">
        <button type="submit">Add Student</button>
    </form>
</body>
</html>